html{
    height:100%;
}

body{
    margin:0;
    background-color: darkslategrey;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    flex-grow: 0;
    width: 600px;
    height: 600px;
    border: 2px solid gray;
    display: flex;
}